<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>co.jp.sample.sampleApp</key>
		<string>sampleAppProvisioning</string>
	</dict>
	<key>signingCertificate</key>
	<string>2431F401D68316ADBA352EC1879DD2F78DA29E75</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>AQL7BL8QH4</string>
	<!--<key>thinning</key>
	<string>iPhone14,3</string>-->
</dict>
</plist>
